.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentCart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    width: 80vw;
}
.contentCart-title{
    align-self: flex-start;
    padding: 20px;
    font-weight: bold;
}
.contentCart-list{
    padding: 10px;
}
.contentCart-headerItem{
    padding: 10px;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
    background: #6d76f7;
    border-radius: 15px;
}
.contentCart-listItem{
    padding: 10px;
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
}
.contentCart-listItem span{
    color: #000;
}
.contentCart-btnClr{
    background: #fff;
    color: #6568f4;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    margin-top:15px;
    box-shadow: 0 0 10px #6d76f7;
}
.contentPrice{
    align-self: center;
    padding: 10px;
    font-size:1.8rem;
    font-weight: bold;
    color: #6568f4;
}
.contentCart-btnClr:hover{
    background: #6568f4;
    color: #fff;
}
.contentCart-btnDel {
    background: rgb(173, 41, 41);
    color: #d3d3f3;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 15px 10px 15px;
    border: 0px;
    border-radius: 5px;
}