.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 12vw;
    height: 45vh;
    margin: 10px 10px 10px 10px;
    padding: 10px 20px;
    border: 1px solid ;
    border-radius: 10px;
    box-shadow: 0 0 10px #6d76f7;
    }
    img {
        width: 12vw;
        border-radius: 50%;
        box-shadow: 0 0 15px #555;
        margin-bottom: 10px;
    }
.itemInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}
.itemInfo-data{
    font-size: 1.2rem;
    font-weight: bold;
}
.itemInfo-link{
    font-size:0.95rem;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    padding: 2px;
    border-radius: 10px;
    color: #3acbf7;
    background-color: rgba(248, 248, 248, 0.322);
}

/* Item count */
.itemInfo-link:hover{
    color: #fff;
    background-color: #3acbf7;
}
.item-count{
    justify-self:end;
}
.item-count__count{
    padding: 25px
}
.item-add{
    padding: 0 10px 0 10px;
    margin-top: 5px;
}