.mainApp{
    display: flex;
    flex-direction: row;
}
.mainApp-option{
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #9bbed9;
    width: 10vw;
    padding: 10px;
}
.mainApp-context{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    padding: 10px;
}

/* Category */
.mainApp-option-category{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn-category{
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    width: 7vw;
    padding: 5px 20px;
    margin-top: 2px;
    transition: all 0.3s ease out;
    background: #c3d4e0;
    color: #27276b;
}

.btn-category:hover {
    padding: 5px 20px;
    transition: all 0.3s ease out;
    background: #fff;
    color: #6568f4;
    transition: 250ms;
}

.mainApp-option-id{
    margin-top: 20px;
}

.mainApp-option-id input{
    font-size: 1.2rem;
    margin-top: 5px;
    padding: 5px;
    border: 0;
    border-radius: 7px;
    width: 8vw;     
}

